In [201]:
import pandas as pd
import numpy as np

In [2]:
path='C:/ds101/data/breakout/'

In [3]:
files=[path+f"data_{i:0>2}.csv" for i in range(1,14)]

In [4]:
files

['C:/ds101/data/breakout/data_01.csv',
 'C:/ds101/data/breakout/data_02.csv',
 'C:/ds101/data/breakout/data_03.csv',
 'C:/ds101/data/breakout/data_04.csv',
 'C:/ds101/data/breakout/data_05.csv',
 'C:/ds101/data/breakout/data_06.csv',
 'C:/ds101/data/breakout/data_07.csv',
 'C:/ds101/data/breakout/data_08.csv',
 'C:/ds101/data/breakout/data_09.csv',
 'C:/ds101/data/breakout/data_10.csv',
 'C:/ds101/data/breakout/data_11.csv',
 'C:/ds101/data/breakout/data_12.csv',
 'C:/ds101/data/breakout/data_13.csv']

In [49]:
def read_csv(path):
    with open(path) as f:
        data=f.read()
        
    comma_cnt=data.count(',')
    semicol_cnt=data.count(';')
    if comma_cnt<semicol_cnt:
        return pd.read_csv(path,delimiter=';')
    return pd.read_csv(path)

In [6]:
frames=[]
for file in files:
    if file.endswith('05.csv'):
        continue
    try:
        df=read_csv(file)
        if file.endswith('12.csv'):
            df=df.transpose()
        if all([col.startswith('Unnamed') for col in df.columns]):
            print(file)
        frames.append(df)
    except:
        print(file)

C:/ds101/data/breakout/data_12.csv

In [7]:
dfs=pd.concat(frames)
dfs.columns

Index(['date', 'gender', 'age', 'has_worked', 'hours_studied', 'wakeup_time',
       'bed_time', 'n_coffein', 'screen_time', 'has_meat', 'exercise_hours',
       'water', 'social_hours', 'newspaper_time', 'fatigue_score',
       'democracy_score', 'happiness_score', 'newspaper_score',
       'demokrcy_score', 'Unnamed: 0', 'wakup_time', 'water_litre',
       'exercise_time', 'Gender', 'Age', 'fatique_score', 'hours_study',
       'newpaper_time', 'hapiness_score', 'has worked', 'hours studied',
       'wake up time', 'bed time', 'has meat', 'excercise hours',
       'social hours', 'newspaper', 'fatigue', 'democracy', 'happiness'],
      dtype='object')

In [241]:
b = pd.DataFrame()
a = read_csv(files[0])
new_cols = a.columns
idx = -1
for file in files:
    a = read_csv(file)
    a = a.dropna(how = 'all')
    if file.endswith('12.csv'):
            a=a.transpose()
            a = a.reset_index()
            new_header = a.iloc[0] 
            new_header['index'] = 'date'
            a = a[1:] 
            a.columns = new_header
    a.columns = new_cols
    idx = idx + 1
    a['user_id'] = idx
    b = pd.concat([b,a])
b = b.reset_index(drop = True)

<ipython-input-241-ab21fe62ab36>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_header['index'] = 'date'

In [243]:
b.head()

,date,gender,age,has_worked,hours_studied,wakeup_time,bed_time,n_coffein,screen_time,has_meat,exercise_hours,water,social_hours,newspaper_time,fatigue_score,democracy_score,happiness_score,user_id
0,2021-03-02,male,36.0,1,0.0,9:00,3:00,4.0,13.0,1,0,1,2.0,1,3.0,5.0,5.0,0
1,2021-03-03,male,36.0,1,2.5,8:50,2:30,4.0,12.0,1,0,1,3.0,1,4.0,5.0,6.0,0
2,2021-03-04,male,36.0,1,3.0,8:30,3:30,4.0,13.0,1,0,1,2.0,1,4.0,5.0,5.0,0
3,2021-03-05,male,36.0,1,0.0,8:30,0:00,4.0,7.0,1,1,"1,5",12.0,"0,5",5.0,5.0,6.0,0
4,2021-03-06,male,36.0,0,0.0,6:30,0:30,4.0,4.0,1,1,1,14.0,0,6.0,5.0,6.0,0

In [242]:
len(b)

176

In [258]:
#change gender column values to categorical

b['gender'] = b['gender'].replace(['male', 'M', 1.0], 'male')

b['gender'] = b['gender'].replace(['female', 'women', 'Female'], 'female')

In [259]:
b['gender'].unique()

array(['male', 'female'], dtype=object)

In [271]:
b['age'] = b['age'].astype('int')

In [274]:
b['has_worked'].unique()

array([1., 0.])

In [273]:
#change has_worked column values to numeric (0,1))

b['has_worked'] = b['has_worked'].replace(['1', 'yes', 'Y'], 1)

b['has_worked'] = b['has_worked'].replace(['0', 'no', 'N'], 0)

In [275]:
b['has_worked'] = b['has_worked'].astype('int')

In [276]:
b['hours_studied'].unique()

array([0.0, 2.5, 3.0, 1.0, 2.0, 6.0, 8.0, 5.0, 10.0, 9.0, 7.0, 4.0, '3',
       '4,5', '1,5', '5,5', '2', '5', '6', '1', 12, 1.5, nan, '1,50',
       '0,00', '2,50', '3,00', '6,00', '0,5', '0'], dtype=object)

In [ ]:
df['date'] = pd.date_range(start='1/1/1979', periods=len(df), freq='D')

In [195]:
b.to_csv(path + "/final.csv")